.baslet_item {
    position: relative;
}
.basket {
    margin-top: 49px;
}
.basket_content {
    display: flex;
}
.baslet_item::after {
    content: "";
    max-width: 1284px;
    height: 2px;
    width: 100%;
    display: flex;
    margin-top: 42px;
    background: #E5E5E5;
    margin-bottom: 41px;
}
.baslet_item:last-child::after{
    content: "";
    display: none;
}
.basket_image {
    margin-right: 66px;
}
.basket_image-item {
    max-width: 330px;
    width: 100%;
}
.basket_title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    color: #000000;
}
.basket_price {
    margin-top: 42px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    color: #D05147;
}
.basket_size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    width: 44px;
    height: 44px;
    border: 3px solid #C8E5D4;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.basket_delete-img {
    position: absolute;
    top: 0;
    right: 10px;
}
.basket_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 139px auto 0;
    width: 342px;
    height: 69px;
    background: #C8E5D4;
    border: 1px solid #66977A;
    box-sizing: border-box;
    border-radius: 32px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    color: #000000;
}

@media(max-width: 1200px) {
    .basket {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 800px) {
    .basket_image {
        margin-right: 30px;
    }
    .basket_image-item {
        width: 200px;
    }
    .basket_title {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 15px;
        color: #000000;
    }
    .basket_price {
        margin-top: 31px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 23px;
        color: #D05147;
    }
    .basket_size {
        margin-top: 31px;
        width: 35px;
        height: 35px;
        border: 1.5px solid #C8E5D4;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 20px;
        color: #000000;
    }
}

@media(max-width: 690px) {
    .basket_image {
        margin-right: 20px;
    }
    .basket_title {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 13px;
        color: #000000;
    }
}

@media(max-width: 500px) {
    .baslet_item::after {
        margin-top: 17px;
        margin-bottom: 17px;
    }
    .basket_image {
        margin-right: 15px;
    }
    .basket_image-item {
        width: 62px;
        height: 75px;
    }
    .basket_title {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        color: #000000;
    }
    .basket_price {
        margin-top: 11px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        color: #D05147;
    }
    .basket_size {
        margin-top: 11px;
        width: 15px;
        height: 15px;
        border: 1.5px solid #C8E5D4;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 10px;
        color: #000000;
    }
    .basket_btn {
        margin-top: 50px;
        width: 106px;
        height: 22px;
        background: #C8E5D4;
        border: 1px solid #66977A;
        box-sizing: border-box;
        border-radius: 32px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 300;
        font-size: 9px;
        line-height: 10px;
        color: #000000;
    }
    .basket_delete-img {
        width: 15px;
        height: 15px;
    }
}

/* basket_popup start */
.basket-popup {
    position: fixed;
    width: 100vw;
    min-height: 100%;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 7;
}
.basket-popup_content {
    position: relative;
    max-width: 838px;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    z-index: 6;
    background: #ffffff;
    border-radius: 20px;
}
.basket-popup_info {
    max-width: 666px;
    width: 100%;
}
.basket-popup_title {
    margin-top: 75px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 31px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket-popup_form {
    margin-top: 65px;
}
.basket-popup_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 666px;
}
.basket-popup_text {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    margin-right: 20px;
}
.basket-popup_input {
    height: 36px;
    background: #FFFFFF;
    border: 2px solid #C8E5D4;
    box-sizing: border-box;
    border-radius: 17px;
    max-width: 526px;
    width: 100%;
    padding: 0 10px;
}
.basket-popup_bold {
    max-width: 326px;
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    border: 2px solid #C8E5D4;
    box-sizing: border-box;
    border-radius: 17px;
    margin-right: 13px;
}
.basket-popup_mini {
    height: 36px;
    max-width: 87px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #C8E5D4;
    box-sizing: border-box;
    border-radius: 17px;
    margin-right: 13px;
}
.basket-popup_mini:last-child {
    margin-right: 0;
}
.basket-popup_checkbox {
    margin-top: 50px;
    margin-bottom: 75px;
}
.basket-popup_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket-popup_checkbox-itm {
    display: none;
}
.basket-popup_checkbox-itm:checked + .basket-popup_label-checkbox::after {
    transform: scale(1);
}
.basket-popup_label-checkbox::before {
    content: "";
    position: relative;
    align-self: flex-start;
    flex: 0 0 36px;
    height: 36px;
    background: #FFFFFF;
    border: 2px solid #C8E5D4;
    box-sizing: border-box;
    border-radius: 15px;
    margin-right: 24px;
    cursor: pointer;
}
.basket-popup_label-checkbox::after {
    content: "";
    position: absolute;
    background-image: url(/image/basket/Vector.svg);
    width: 25px;
    height: 17px;
    left: 6px;
    cursor: pointer;
    transform: scale(0);
}
.basket-popup_label-checkbox {
    position: relative;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.div-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 526px;
}
.basket_active {
    display: flex;
}
.basket-popup_delete {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media(max-width: 850px) {
    .basket-popup_content {
        max-width: 700px;
    }
}

@media(max-width: 780px) {
    .basket-popup_content {
        max-width: 300px;
        height: 410px;
    }
    .basket-popup_info {
        max-width: 250px;
    }
    .basket-popup_title {
        margin-top: 25px;
        font-size: 17px;
        line-height: 24px;
    }
    .basket-popup_form {
        margin-top: 35px;
    }
    .basket-popup_block {
        margin-top: 25px;
        width: 250px;
    }
    .basket-popup_text {
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .basket-popup_input {
        width: 165px;
    }
    .div-input {
        width: 165px;
    }
    .basket-popup_bold {
        width: 64px;
    }
    .basket-popup_mini {
        width: 37px;
    }
    .basket-popup_label-checkbox::before {
        flex: 0 0 24px;
        height: 24px;
    }
    .basket-popup_label-checkbox::after {
        width: 18px;
        height: 15px;
        top: 1px;
        left: 3px;
    }
    .basket-popup_label-checkbox {
        font-size: 13px;
        line-height: 17px;
    }
    .basket-popup_checkbox {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .basket-popup_delete {
        top: 20px;
        right: 20px;
        width: 10px;
        height: 10px;
    }
}
/* basket_popup end */

